# Case Study Bike-Share Analysis

In [65]:
import pandas as pd
import numpy as np

## DATA PREPARE

### Importing Data and Checking Uniformity using shape

In [29]:
df1 = pd.read_csv("2023_07.csv")
df1.shape

(767650, 13)

In [30]:
df2 = pd.read_csv("2023_08.csv")
df2.shape

C:\Users\dell\AppData\Local\Temp\ipykernel_1744\1099825489.py:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  df2 = pd.read_csv("2023_08.csv")

(135350, 13)

In [31]:
df3 = pd.read_csv("2023_09.csv")
df3.shape

(666371, 13)

In [32]:
df4 = pd.read_csv("2023_10.csv")
df4.shape

(537113, 13)

In [33]:
df5 = pd.read_csv("2023_11.csv")
df5.shape

(362518, 13)

In [34]:
df6 = pd.read_csv("2023_12.csv")
df6.shape

(224073, 13)

In [36]:
df7 = pd.read_csv("2024_01.csv")
df7.shape

(144873, 13)

In [43]:
df8 = pd.read_csv("2024_02.csv")
df8.shape

(223164, 13)

In [44]:
df9 = pd.read_csv("2024_03.csv")
df9.shape

(301687, 13)

In [46]:
df10 = pd.read_csv("2024_04.csv")
df10.shape

(415025, 13)

In [47]:
df11 = pd.read_csv("2024_05.csv")
df11.shape

(609493, 13)

In [49]:
df12 = pd.read_csv("2024_06.csv")
df12.shape

(710721, 13)

### Merging Data into one single file

In [155]:
dfall = pd.concat([df1,df2,df3,df4,df5,df6,df7,df8,df9,df10,df11,df12], ignore_index = True)

In [156]:
dfall.shape

(5098038, 13)

In [159]:
dfall.head()

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,9340B064F0AEE130,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,Kedzie Ave & 110th St,20204,Public Rack - Racine Ave & 109th Pl,877,41.692406,-87.700905,41.694835,-87.653041,member
1,D1460EE3CE0D8AF8,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,Western Ave & Walton St,KA1504000103,Milwaukee Ave & Grand Ave,13033,41.898418,-87.686596,41.891578,-87.648384,member
2,DF41BE31B895A25E,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,Western Ave & Walton St,KA1504000103,Damen Ave & Pierce Ave,TA1305000041,41.898418,-87.686596,41.909396,-87.677692,member
3,9624A293749EF703,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,Racine Ave & Randolph St,13155,Clinton St & Madison St,TA1305000032,41.884112,-87.656943,41.882752,-87.641190,member
4,2F68A6A4CDB4C99A,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,Clark St & Leland Ave,TA1309000014,Montrose Harbor,TA1308000012,41.967088,-87.667291,41.963982,-87.638181,member

## Data Cleaning

### Dropping Columns

In [163]:
dfall.columns

Index(['ride_id', 'rideable_type', 'started_at', 'ended_at',
       'start_station_name', 'start_station_id', 'end_station_name',
       'end_station_id', 'start_lat', 'start_lng', 'end_lat', 'end_lng',
       'member_casual'],
      dtype='object')

In [165]:
dfall.drop(['ride_id','start_station_name', 'start_station_id', 'end_station_name','end_station_id'],axis = 1, inplace = True)

In [167]:
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member

### Changing Data Types

In [200]:
dfall['started_at'] = pd.to_datetime(dfall['started_at'], format = 'mixed', dayfirst = True)

In [216]:
dfall['ended_at'] = pd.to_datetime(dfall['ended_at'], format = 'mixed', dayfirst = True)

In [225]:
dfall['start_lng'] = pd.to_numeric(dfall['start_lng'], errors='coerce')

In [230]:
dfall.dtypes

rideable_type            object
started_at       datetime64[ns]
ended_at         datetime64[ns]
start_lat               float64
start_lng               float64
end_lat                 float64
end_lng                 float64
member_casual            object
dtype: object

### Dropping Duplicate values

In [241]:
dfall.shape

(5091069, 8)

In [243]:
dfall.drop_duplicates(inplace = True)

In [245]:
dfall.shape

(5091069, 8)

### Checking for Outliers or Null Values

In [248]:
dfall['rideable_type'].unique()

array(['electric_bike', 'classic_bike', 'docked_bike'], dtype=object)

In [250]:
dfall['member_casual'].unique()

array(['member', 'casual'], dtype=object)

#### There are some null values in this columns so we will drop them.

### Dropping null values in member column

In [254]:
dfall.dropna(inplace = True)

In [255]:
dfall.shape

(5091069, 8)

In [258]:
dfall['member_casual'].unique()

array(['member', 'casual'], dtype=object)

### Adding Columns

In [261]:
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member

In [273]:
dfall['ride_time'] = dfall['ended_at'] - dfall['started_at']

In [275]:
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member,0 days 00:16:30
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member,0 days 00:13:30
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member,0 days 00:09:36
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member,0 days 00:04:56
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member,0 days 00:11:26

In [277]:
dfall.dtypes

rideable_type             object
started_at        datetime64[ns]
ended_at          datetime64[ns]
start_lat                float64
start_lng                float64
end_lat                  float64
end_lng                  float64
member_casual             object
ride_time        timedelta64[ns]
dtype: object

In [287]:
dfall['ride_time'] = dfall['ride_time'].dt.total_seconds()/3600.0

In [289]:
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member,0.275000
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member,0.225000
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member,0.160000
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member,0.082222
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member,0.190556

In [291]:
dfall['ride_time'] = round(dfall['ride_time'],2)

In [297]:
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member,0.28
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member,0.22
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member,0.16
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member,0.08
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member,0.19

In [357]:
dfall['weekday'] = dfall['started_at'].dt.day_of_week

In [363]:
dfall.drop(['week_day'],axis=1,inplace = True)
dfall.head()

,rideable_type,started_at,ended_at,start_lat,start_lng,end_lat,end_lng,member_casual,ride_time,weekday
0,electric_bike,2023-07-23 20:06:14,2023-07-23 20:22:44,41.692406,-87.700905,41.694835,-87.653041,member,0.28,6
1,classic_bike,2023-07-23 17:05:07,2023-07-23 17:18:37,41.898418,-87.686596,41.891578,-87.648384,member,0.22,6
2,classic_bike,2023-07-23 10:14:53,2023-07-23 10:24:29,41.898418,-87.686596,41.909396,-87.677692,member,0.16,6
3,electric_bike,2023-07-21 08:27:44,2023-07-21 08:32:40,41.884112,-87.656943,41.882752,-87.641190,member,0.08,4
4,classic_bike,2023-07-08 15:46:42,2023-07-08 15:58:08,41.967088,-87.667291,41.963982,-87.638181,member,0.19,5

## Data Analysis

In [370]:
dfall['ride_time'].mean()

0.25672764010858984

In [402]:
dfall['ride_time'].max()

89.65

In [376]:
dfall['ride_time'].min()

-277.61

In [396]:
(dfall['ride_time'] > 0).value_counts()

ride_time
True     5038333
False      52736
Name: count, dtype: int64

In [442]:
dfall.drop(['started_at', 'ended_at','start_lat','end_lat','start_lng','end_lng'],axis = 1, inplace = True)

In [444]:
df = dfall[dfall['ride_time'] > 0]
df

         rideable_type member_casual  ride_time  weekday
0        electric_bike        member       0.28        6
1         classic_bike        member       0.22        6
2         classic_bike        member       0.16        6
3        electric_bike        member       0.08        4
4         classic_bike        member       0.19        5
...                ...           ...        ...      ...
5098033  electric_bike        member       0.13        1
5098034  electric_bike        member       0.02        0
5098035  electric_bike        member       0.04        6
5098036  electric_bike        member       0.14        1
5098037  electric_bike        member       0.06        5

[5038333 rows x 4 columns]

In [459]:
df.to_csv('final_bike_data.csv')

In [446]:
df['ride_time'].min()

0.01

In [470]:
df['weekday'] = df['weekday'].map({0:"Monday",1:"Tuesday",2:"Wednesday",3:"Thursday",4:"Friday",5:"Saturday",6:"Sunday"})

C:\Users\dell\AppData\Local\Temp\ipykernel_1744\383468586.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['weekday'] = df['weekday'].map({0:"Monday",1:"Tuesday",2:"Wednesday",3:"Thursday",4:"Friday",5:"Saturday",6:"Sunday"})

## Data Visualisation

In [473]:
import matplotlib.pyplot as plt
import seaborn as sns
import plotly.express as px
import plotly.graph_objects as go

In [479]:
week_days = df['weekday'].value_counts()
week_days

weekday
Saturday     797365
Thursday     728987
Wednesday    725662
Friday       712189
Tuesday      701357
Sunday       695030
Monday       677743
Name: count, dtype: int64

In [483]:
df.head()

   rideable_type member_casual  ride_time   weekday
0  electric_bike        member       0.28    Sunday
1   classic_bike        member       0.22    Sunday
2   classic_bike        member       0.16    Sunday
3  electric_bike        member       0.08    Friday
4   classic_bike        member       0.19  Saturday